#start-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 1;
  text-align: center;
  transition: opacity .5s;
}
.main-title {
  font-size: 500%;
  color: midnightblue;
  line-height: 100%;
  font-family: 'Mali', cursive;
}
.start-button {
  width: 75%;
  margin-top: 10%;
  background-color: rgba(0,0,0,0.6);
  border: none;
  border-radius: 50px;
  border: 5px solid rgba(255,255,255,0.5);
  font-size: 280%;
  color: #E0D0D0;
  box-shadow: 0px 0px 15px gold;
  font-family: 'Mali', cursive;
  cursor: pointer;
  opacity: 1;
  transition: background-color .5s, box-shadow 1s;
}
.start-button:hover {
  background-color: rgba(0,0,0,0.5);
  font-size: 300%;
  box-shadow: 0px 0px 125px gold;
  transition: background-color .5s, box-shadow .5s, font-size .3s;
}
/* Search: css remove active border */
/* https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 */
.start-button:focus {
  outline: none;
}
