body {
  margin: 0;
}
#cosmos{
  box-shadow: 0 0 3vw rgba(0,0,0,0.5) inset;
  background-color: burlywood;
  width: 100vw;
  height: 100vw;
  position: absolute; top: 0px; left: 0px;
  /*pointer-events: none;*/
  padding: 0 1% 0 1%;
}
#universe {
  display: block;
}
.ui.menu {
  margin: 3em 0em;
}
.ui.menu:last-child {
  margin-bottom: 110px;
}
.ui.massive.menu {
  opacity: 0.8;
}
