#page_spar .title {
  font-size: 24px;
  font-weight: 900;
}

#page_spar .box {
  background-color: rgba(0,0,0,0.2);
  widows: 100%;
  margin-top: 10px;
  padding: 5px;
  display: inline-block;
}

#page_spar .name {
  font-size: 20px;
  width: 170px;
  font-weight: 900;
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
}

#page_spar .rating {
  position: relative;
  top: -6px;
  font-size: 14px;
  color: rgb(79, 79, 150);
}
