.circle {
  border-radius: 100%;
}

#outSec {
  width: 300px;
  fill: cornflowerblue;
  margin-top: 25px; margin-left: 25px;
}

#innSec {
  width: 200px; height: 200px;
  background-color: rgba(225, 225, 225, 1);
  margin-top: -250px; margin-left: 75px;
  position: absolute;
  box-shadow: 2px 2px 2px;
}

/*#borderSec {
  width: 320px; height: 320px;
  background-color: rgba(225, 225, 225, 1);

}*/
