html {
  background: url('../assets/images/dark-grain2.png');
  background-color: rgb(60, 60, 60);
}
body {
  margin: 0;
  background: url('../assets/images/dark-grain2.png');
  color: white;
  font-family: Avenir, sans-serif;
  padding-bottom: 50px;
}
.mainSection {
  margin: 10px auto;
  padding: 0px 30px;
  max-width: 800px;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.no-select {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE versions */
}