body{
  background-color: darkgrey;
}
.first{
  background-color: lightblue;
}
.second{
  background-color: purple;
}
.third{
  background-color: cornflowerblue;
}
.fourth{
  background-color: lightgrey;
}
.fifth{
  background-color: pink;
}
