html {
  background-color: red;
  margin: auto;
}

body{
  margin: auto;
  max-width: 900px;
}

#svgLayer {
  background-color: blue;
}

.cont { /* can i remove this??? */
  margin-top: -82.6%;
}
.carousel-inner > .item > img, video {
  width: 51%;
  height: 30%;
  margin: auto;
  margin-top: 3.5%;
  margin-bottom: 1.15%;
  border-radius: 0.4vw;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);

}

.squareSVG{
  margin-left: 18%;
  width: 62.1%;
}

.wideVid {
  margin-left: 25%;
  width: 100%;
  margin-bottom: 4.7%;
  opacity: 0.6;
  object-fit: cover;
}

/*.hero {
  padding: 3em 0;
  background: #333;
  position: relative;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero__title {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

#test {
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}*/
/*@media (min-width: 600px) {
  .container {
    width: 600px;
   }
}*/
