body {
  background-color: #eee;
}



/* Flighters List */
table {
  width: 100%;
}
th {
  text-align: left;
  font-size: 20px;
  /* background-color: rgba(0,0,0,0.1); */
  /* padding: 5px; */
}
.col-gender, .col-age, .col-rating, .col-skills {
  width: 1px;
}
.col-age {
  width: 1px;
}
.col-skills {
  background-color: rgba(0,0,0,0.25);
}
.activeColumn {
  background-color: rgba(0,0,200,0.2);
}
.cnt {
  background-color: rgba(0,0,0,0);
  width: 20px;
}
.fighter-i {
  background-color: rgba(200,0,0,0.05);
}
.fighter-i > td {
  padding-left: 5px;
}
.fighter-i > .cnt-i {
  background-color: rgba(0,0,200,0.2);
  padding-left: 0px;
  text-align: center;
}
.fighter-row-skills {
  background-color: rgba(200,0,000,0.1);
}
.zero-100 {
  width: 45px;
}
.div1 {
  display: inline-block;
  width: 80px;
}
.col {
  cursor: pointer;
}
.col:hover {
  background-color: rgba(0,0,0,0.2);
}
.activeColumn:hover {
  background-color: rgba(0,0,200,0.15);
}
.fighters-list-table-column-name {
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
  pointer-events: none;
}
.arrow-up-activeColumn-true {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 5px solid rgba(0,0,200,0.5);
  pointer-events: none;
  margin: auto;
}
.arrow-down-activeColumn-false {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 5px solid rgba(0,0,200,0.5);
  pointer-events: none;
  margin: auto;
}