body {
  -webkit-text-size-adjust: 100%;
}

.navbar-brand{
  font-size: 30px;
  font-family: courier;
}

.navbar-default{
  font-size: 18px;
  font-family: courier;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  border-radius: 0;
}

#font-color, #title{
  color: #333;
}

#font-color{
  font-size: 20px;
  margin-top: 10px;
  height: 50px;
}

.navbar-default .navbar-toggle {
  background-color: #ccc;
  border: none;
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
}

@media screen and (min-width: 768px) {

  #font-color{
    font-size: 15px;
    margin: 0;
    height: 50px;
  }
}
