body {
  background-color: cornflowerblue;
  text-align: center;
}
#text-box {
  width: 400px;
  max-width: 400px;
  text-align: left;
  margin: auto;
}
canvas {
  background-color: #000;
  margin: auto;
}
#