<template id="animation1">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>

</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>

</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script> /* - Starts New Component -> */ (( c = new Component('animation1-tag') )=>{



c._NEW_ELM()})() /* ----------- Creates New Component -----------> */  </script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
