<template id="star">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main {
  text-align: center;
  display: none;
}
table {
  margin: auto;
}
.icons {
  font-size: 26px;
  padding-bottom: 0px;
  padding-right: 6px;
  color: rgba(218,165,32,1)
}
.box {
  position: relative;
  cursor: pointer;
  border: 1px;
  margin-right: 10px;
  min-width: 30px;
  max-height: 30px;
  font-size: 22px;
  background-color: rgba(255,255,255,0.1);
  transition: background-color 0.2s;
}
.box:hover {
  background-color: rgba(255,255,255,0.3);
  transition: background-color 0.5s;
}
td {
  text-align: center;
}
.star-plus {
  position: absolute; left: 1.5px; top: -2px;
  font-size: 35px;
  color: rgba(218,165,32,1);
}
.gray {
  color: rgba(0,0,0,0.5);
}
.data-value {
  color: rgba(255,255,255,0.7);
  position: relative;
  font-size: 25px;
}
.ig {
  pointer-events: none;
}
.input {
  width: 23px;
  font-size: 20px;
  background: none;
  border: none;
  text-align: center;
  margin-left: -1px;
  margin-top: 1px;
}
.undefined {
  color: rgba(255,255,255,0.3);
}
@media screen and (max-width: 1100px) {
  .box {
    min-width: 25px;
    max-height: 25px;
  }
  .icons {
    font-size: 22px;
  }
  .star-plus {
    font-size: 29px;
  }
  .input {
    font-size: 18px;
  }
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>

  <div id='main' var='{data} c.data'>
    <span style='color: rgba(255,255,255,0.6)'> StarChart: </span>
    <strong style='font-size: 20px;'> {data}.test[0].date.month- , {data}.test[0].date.year </strong>
    <table>
     <tr for='{dd} c.data.test'>
       <th indices='0' class="icons"> &#10025; </th>
       <th> {dd}.date.day </th>
     </tr>
     <tbody id='chart'>
       <tr for='{x},{i} c.data.test'>
         <td indices='0' class="icons"> &#128685; </td>
         <td class='box' key='{i}' val='smoke'>
           <span if='!{x}.smoke' class='star-plus ig'> &#10025; </span>
           <input if='{x}.smoke' key='{i}' val='smoke' placeholder="?" value='{x}.smoke' class='gray input ig'>
         </td>
       </tr>
       <tr for='{x},{i} c.data.test'>
         <td indices='0' class="icons"> &#127865; </td>
         <td class='box' key='{i}' val='drink'>
           <span if='!{x}.drink' class='star-plus ig'> &#10025; </span>
           <input if='{x}.drink' key='{i}' val='drink' placeholder="?" value='{x}.drink' class='gray input ig'>
         </td>
       </tr>
       <tr for='{x},{i} c.data.test'>
         <td indices='0' class="icons"> &#127939; </td>
         <td class='box' key='{i}' val='cardio'>
           <span if='!{x}.cardio' class='star-plus ig'> &#10025; </span>
           <span if='{x}.cardio[1]' class='star-plus ig'> &#10025; </span>
           <input if='{x}.cardio[0]' key='{i}' val='cardio' placeholder="?" value='{x}.cardio[0]' class='data-value input ig'>
         </td>
       </tr>
       <tr for='{x},{i} c.data.test'>
         <td indices='0' class="icons"> &#127947; </td>
         <td class='box' key='{i}' val='lift'>
           <span if='!{x}.lift' class='star-plus ig'> &#10025; </span>
           <span if='{x}.lift[1]' class='star-plus ig'> &#10025; </span>
           <input if='{x}.lift[0]' key='{i}' val='lift' placeholder="?" value='{x}.lift[0]' class='data-value input ig'>
         </td>
       </tr>
       <tr for='{x},{i} c.data.test'>
         <td indices='0' class="icons" style='color: rgba(0,0,0,0.6);'> &#128694; </td>
         <td class='box' key='{i}' val='walk'>
           <span if='!{x}.walk' class='star-plus ig'> &#10025; </span>
           <span if='{x}.walk[1]' class='star-plus ig'> &#10025; </span>
           <input if='{x}.walk[0]' key='{i}' val='walk' placeholder="?" value='{x}.walk[0]' class='data-value input ig'>
         </td>
       </tr>
       <tr for='{x},{i} c.data.test'>
         <td indices='0' class="icons" style='color: rgba(0,0,0,0.6);'> &#9745; </td>
         <td class='box' key='{i}' val='scrum'>
           <span if='!{x}.scrum' class='star-plus ig'> &#10025; </span>
           <span if='{x}.scrum[1]' class='star-plus ig'> &#10025; </span>
           <input if='{x}.scrum[0]' key='{i}' val='scrum' placeholder="?" value='{x}.scrum[0]' class='data-value input ig'>
         </td>
       </tr>
     </tbody>
   </table><br>
    <span style='color: rgba(255,255,255,0.5);'>[ Shift + Click ] <em> *enters values</em></span>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('star-tag') )=>{

  c._ON_SET = (attr)=>{
    // this prevents the flickering effect before ifJS is loaded...
    c.I('main').setAttribute('style', 'display: block;')
  }

  c._ADD_EVENT('mousedown', 'main', ([ key, val, elm ] = c.KVE(event))=>{
    if (event.shiftKey) {
      let input = elm.getElementsByTagName('input')[0]
      let span = elm.getElementsByTagName('span')[0]
      span.className += ' undefined'
      input.className += ' undefined'
      if (!span.getAttribute('style', 'display')) {
        [ input.placeholder, input.value ] = [ '', '']
      } else {
        [ input.placeholder, input.value ] = [ input.value || '?', '' ]
      }
      input.setAttribute('style', 'display: ;')
      setTimeout(()=>{ input.focus() },1)
    } else {
      const state = _DATA.home.test[parseInt(key)][val]
      _DATA.home.test[parseInt(key)][val] = state === false ? ' ' : false
      putMyJson(_DATA, _PERSONAL_URI)
    }
  }, true)

  c._ADD_EVENT('keypress', 'main', ([ key, val, elm ] = c.KVE(event))=>{
    if (event.keyCode == 13) {
      if (elm.value !== '') {
        _DATA.home.test[parseInt(key)][val] = elm.value
        // putMyJson(_DATA, _PERSONAL_URI)
      }
      if (['cardio','lift','walk','scrum'].includes(val)) {
        console.log('includes', val)
        _DATA.home.test[parseInt(key)][val] = [ elm.value, true ]
      }
      putMyJson(_DATA, _PERSONAL_URI)
      elm.blur()
    }
  }, true)

  //const days = ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun']

  // c.t = []
  // for (var i = 0; i < 31; i++) {
  //   c.t.push({
  //     date: { year: 2017, month: 'May', day: i+1, weekDay: days[(i%7)] },
  //     smoke: ' ',
  //     drink: ' ',
  //     cardio: ' ',
  //     lift: ' ',
  //     walk: ' ',
  //     scrum: ' ',
  //   })
  // }
  // _DATA.home.test = c.t
  // putMyJson(_DATA, _PERSONAL_URI)

  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
