<template id="star">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main {
  text-align: center;
}
table {
  margin: auto;
}
.icons {
  font-size: 26px;
  padding-bottom: 0px;
  padding-right: 6px;
  color: rgba(218,165,32,1)
}
.undefined {
  color: rgba(255,255,255,0.1)
}
.box {
  position: relative;
  cursor: pointer;
  border: 1px;
  min-width: 30px;
  max-height: 30px;
  font-size: 22px;
  background-color: rgba(255,255,255,0.1);
  transition: background-color 0.2s;
}
.box:hover {
  background-color: rgba(255,255,255,0.3);
  transition: background-color 0.5s;
}
td {
  text-align: center;
}
.star-plus {
  position: absolute; left: 2px; top: -2px;
  font-size: 35px;
  color: rgba(218,165,32,1);
}
.data-value {
  position: relative;
  font-size: 25px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content var='data _data'>
  <div id='main'>
    <span style='color: rgba(255,255,255,0.6)'> StarChart: </span>
    <strong style='font-size: 20px;'> data.test[0].date.month- , data.test[0].date.year </strong>
    <table>
     <tr for='{d} test'>
       <th indices='0' class="icons"> &#10025; </th>
       <th> {d}.date.day </th>
     </tr>
     <tbody>
       <tr for='{x} test' >
         <span class='icon-box' >
           <td indices='0' class="icons"> &#128685; </td>
         </span>
         <td class='box'>
           <span if='{x}.smoke[0]' class='star-plus'> &#10025; </span>
           <none if='{x}.smoke[1]' style='color: black;'> {x}.smoke </none>
           <none if='!{x}.smoke' class='undefined'> ? </none>
         </td>
       </tr>
       <tr for='{d} test'>
         <td indices='0' class="icons"> &#127865; </td>
         <td class='box'>
           <span if='{d}.drink[0]' class='star-plus'> &#10025; </span>
           <none if='{d}.drink[1]' style='color: rgba(0,0,0,0.4);'> {d}.drink[1] </none>
           <none if='!{d}.drink[1]'><none if='!{d}.drink[0]' class='undefined'> ? </none></none>
           <none if='{d}.drink[0] {d}.drink[1] '>!!!!</none>

         </td>
       </tr>
       <tr for='{x} test'>
         <td indices='0' class="icons"> &#127939; </td>
         <td class='box'>
           <span if='{x}.cardio' class='star-plus'> &#10025; </span>
           <none if='{x}.cardio' class='data-value'> {x}.cardio </none>
           <none if='!{x}.cardio' class='undefined'> ? </none>
         </td>
       </tr>
       <tr for='{x} test'>
         <td indices='0' class="icons"> &#127947; </td>
         <td class='box'>
           <none if='{x}.lift'> {x}.lift </none>
           <none if='!{x}.lift' class='undefined'> ? </none>
         </td>
       </tr>
       <tr for='{x} test'>
         <td indices='0' class="icons" style='color: rgba(0,0,0,0.6);'> &#128694; </td>
         <td class='box'>
           <none if='{x}.walk'> {x}.walk </none>
           <none if='!{x}.walk' class='undefined'> ? </none>
         </td>
       </tr>
       <tr for='{x} test'>
         <td indices='0' class="icons" style='color: rgba(0,0,0,0.6);'> &#9745; </td>
         <td class='box'>
           <none if='{x}.scrum'> {x}.scrum </none>
           <none if='!{x}.scrum' class='undefined'> ? </none>
         </td>
       </tr>
     </tbody>
    </table>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('star-tag') )=>{
  c._ON_SET = (attr)=>{
    c.data.test = c.test
  }

  const days = ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun']

  c.test = []
  for (var i = 0; i < 31; i++) {
    c.test.push({
      date: { year: 2017, month: 'May', day: i+1, weekDay: days[(i%7)] },
      smoke: [],
      drink: [],
      cardio: null,
      lift: null,
      walk: null,
      scrum: null,
    })
  }

  c.test[1].drink = [ true ]
  c.test[2].drink = [ false, 3 ]
  c.test[3].drink = [ true, 4 ]
  c.test[5].smoke = [ true, null]
  c.test[1].cardio = 3
  c.test[2].lift = '2x'
  c.test[2].walk = 4
  c.test[5].scrum = '<span style="color: rgba(218,165,32,1);">&#10025;</span>'

  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
