#gridContainer {
  display: inline-block;
  font-size: 0;
  padding: 5px 5px;
  background-color: rgba(205,133,63,0.7);
  margin: auto;
}
.gridUnit {
  position: relative;
  display: inline-block;
  background-color: rgba(205,133,63,0.3);
  width: 30px;
  height: 30px;
  margin: 1px 1px;
}
.emojiBlock {
  position: absolute;
  font-size: 30px;
  top: -2px;
  left: 0px;
}
