body {
  background-color: #555;
}
h3, h5, .inline {
  background-color: cornflowerblue;
  color: #333;
  border-radius: 2px;
  padding: 2px 5px;
  width: 155px;
  margin: 2px;
}
h4, p {
  padding: 2px 5px;
  margin: 2px;
}
.inline {
  width: 168px;
  background-color: #ccc;
  display: inline-block;
  vertical-align: top;
  box-shadow: 2px 2px 2px #333;
}
.testy {
  background-color: red;
}
