body {
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 25px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#pauseBtn, #gravityBtn {
  cursor: pointer;
  font-size: 25px;
  display: inline-block;
}
#box {
  position: relative;
  background-color: #aaa;
  margin: auto;
  margin-bottom: 5px;
}
.balls {
  opacity: 0.9;
  position: absolute;
  border-radius: 100%;
  /* border-width: 2px;
  border-style: solid;
  border-color: rgba(0,0,0,0.3); */
  /* box-shadow: 2px 2px 2px black; */
}
