<template id="id-card">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
  .card {
    display: inline-block;
    background-color: rgba(0,0,0,0.25);
    width: 25%;
    margin: 10px;
    border-radius: 2px;
  }
  #title {
    width: 100%;
    border-radius: 2px;
    background-color: rgba(101, 156, 255, 0.5);
  }
  .float-left {
    float: left;
    padding-left: 5px;
  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div class="card">
    <table style="width:100%">
      <tr><div id="title"> --- Static </div>
        <th class='float-left'> First Name </th>
        <th><input id="first" placeholder="Not Set..."/></th>
      </tr>
      <tr>
        <th class='float-left'> Last Name </th>
        <th><input id="last" placeholder="Not Set..."/></th>
      </tr>
      <tr>
        <th class='float-left'> Age </th>
        <th><input id="age" placeholder="Not Set..."/></th>
      </tr>
      <tr>
        <th class='float-left'> Height </th>
        <th><input id="height" placeholder="Not Set..."/></th>
      </tr>
    </table>
    <button id="button" class="whatever"> + </button>
  </div>
</content>
</template>

<script>

(( c = new Component([ 'id-card-tag', '#id-card' ]) )=>{

  c.onLoad = ()=>{
    c.root.getElementById('title').innerHTML = c.data.title
    c.root.getElementById('first').value = c.data.name
    c.root.getElementById('last').value = c.data.last
    c.root.getElementById('age').value = c.data.age
    c.root.getElementById('height').value = c.data.height
  }

  console.log('id-card')

  c.newElm()
})()

</script>
