<template id="t">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
  .card {
    width: 30%;
  }
  #title {
    background-color: cornflowerblue;
  }
  input {
    float: right;
  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <link rel="stylesheet" href="main.css">
  <div class="card">
    <span id="title"> --- Static </span>  <br>
    <span> string: </span>
    <input id="inputStr" placeholder="Not Set..."/> <br>
    <span> number: </span>
    <input id="inputNum" placeholder="Not Set..."/> <br>
    <button id="buttonX" class="whatever"> + </button>
    <button id="buttonXX" class="whatever"> + </button>
  </div>
  <br>
</content>
</template>

<script>

  var proto = Object.create(HTMLElement.prototype)
  var importDoc = document.currentScript.ownerDocument
  var template = importDoc.querySelector('#t')

  proto.attributeChangedCallback = function() {
    const root = this.createShadowRoot()
    const datax = JSON.parse(this.getAttribute('serve'))
    template.content.getElementById('title').innerHTML = datax.title
    template.content.getElementById('inputStr').value = datax.name
    template.content.getElementById('inputNum').value = datax.num

    const clone = document.importNode(template.content, true)

    var button = clone.getElementById('buttonX')
    var x = this.getAttribute('serve')
    var data = ()=>this.getAttribute('serve')

    button.addEventListener('click', function() {
      console.log('Data:', data())
    })

    var button2 = clone.getElementById('buttonXX')
    button2.addEventListener('click', function() {
      console.log('Data2:', data())
    })

    root.appendChild(clone)
  }


  document.registerElement('important-tag', {prototype: proto} )

</script>
