<template id="t">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
  .card {
    display: inline-block;
    background-color: rgba(0,0,0,0.25);
    width: 25%;
    margin: 5px;
    border-radius: 2px;
    border-color: rgba(0,0,0,0.5);
  }
  #title {
    width: 100%;
    border-radius: 2px;
    background-color: cornflowerblue;
  }
  .float-left {
    float: left;
    padding-left: 5px;
  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <link rel="stylesheet" href="main.css">
  <div class="card">
    <table style="width:100%">
      <tr><div id="title"> --- Static </div>
        <th class='float-left'> string: </th>
        <th><input id="inputStr" placeholder="Not Set..."/></th>
      </tr>
      <tr>
        <th class='float-left'> number: </th>
        <th><input id="inputNum" placeholder="Not Set..."/></th>
      </tr>
    </table>
    <button id="buttonX" class="whatever"> + </button>
    <button id="buttonXX" class="whatever"> + </button>
  </div>
</content>
</template>

<script>

  var proto = Object.create(HTMLElement.prototype)
  var importDoc = document.currentScript.ownerDocument
  var template = importDoc.querySelector('#t')

  proto.attributeChangedCallback = function() {
    const root = this.createShadowRoot()
    const datax = JSON.parse(this.getAttribute('serve'))
    template.content.getElementById('title').innerHTML = datax.title
    template.content.getElementById('inputStr').value = datax.name
    template.content.getElementById('inputNum').value = datax.num

    const clone = document.importNode(template.content, true)

    var button = clone.getElementById('buttonX')
    var x = this.getAttribute('serve')
    var data = ()=>this.getAttribute('serve')

    button.addEventListener('click', function() {
      console.log('Data:', data())
    })

    var button2 = clone.getElementById('buttonXX')
    button2.addEventListener('click', function() {
      console.log('Data2:', data())
    })

    root.appendChild(clone)
  }


  document.registerElement('important-tag', {prototype: proto} )

</script>
