<template id="t">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<!-- OOOOKKKKKEEYYYY
- working to making navbar.html work with duplicates...
- REALIZED ...
- - 1.) Forget events until you get it working
- - 2.) looked to be somowhat working but realized style never even worked in important-tag
- - - - So, we can put style WITHIN content, BUT ...
- - - - Dosn't solve for working at the global level.
- - - -
-->
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <!-- <link rel="stylesheet" href="main.css"> -->
  <style>
    #title {
      background-color: red;
    }
  </style>
  <span id="title"> --- Static </span>  -
  <span> string: </span>
  <input id="inputStr" class="whatever" placeholder="Not Set..."/>
  <span> number: </span>
  <input id="inputNum" placeholder="Not Set..."/>
  <button id='buttonX'> + </button>
  <br>
</content>
</template>

<script>

  var proto = Object.create(HTMLElement.prototype)
  var importDoc = document.currentScript.ownerDocument
  var template = importDoc.querySelector('#t')

  proto.attributeChangedCallback = function() {
    const root = this.createShadowRoot()
    const datax = JSON.parse(this.getAttribute('serve'))
    template.content.getElementById('title').innerHTML = datax.title
    template.content.getElementById('inputStr').value = datax.name
    template.content.getElementById('inputNum').value = datax.num

    const clone = document.importNode(template.content, true)

    var button = clone.getElementById('buttonX')
    var x = this.getAttribute('serve')
    var data = ()=> this.getAttribute('serve')

    button.addEventListener('click', function() {
      console.log('Data:', data())
    })
    root.appendChild(clone)
  }


  document.registerElement('important-tag', {prototype: proto} )

  // (function() {
  //   console.log(importDoc.querySelector('#t'))
  //   // var proto2 = Object.create(HTMLElement.prototype)
  //   proto.createdCallback = function() {
  //     // this.innerHTML += '</br> Hello, <b>' + (this.getAttribute('name') || '?') + '</br>'
  //     // var template = importDoc.querySelector('#t')
  //     // var clone = document.importNode(template.content, true)
  //     // var root = this.createShadowRoot()
  //     // root.appendChild(clone)
  //     //
  //     // let testy = template.content.getElementById('testy')
  //     // testy.innerHTML = this.getAttribute('name')
  //     // console.log(this.getAttribute('name'), testy)
  //
  //   }
  //   document.registerElement('important-tag', {prototype: proto})
  // })()
</script>
