<template id="landing">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
  .landing-container {
    margin-top: 50px;
    text-align: center;
    color: rgba(0,0,0,0.6);
  }
  #title {
    font-size: 50px;
  }
  button {
    width: 150px;
    height: 100px;
    font-family: sans;
    background-color: rgba(50,0,0,0.05);
    font-size: 30px;
    border-style: solid;
    cursor: pointer;
    margin: 20px;
    margin-top: 50px;
  }
  button:hover {
    background-color: rgba(50,0,0,0.1);
  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div class="landing-container">
    <div id='title'> --- Static Title </Div>
    <div>
      <button id="infoButton" style="border-color: rgba(100,0,0,0.3);"> Page 2 </button>
      <button id="dataButton" style="border-color: rgba(0,100,0,0.3);"> Data </button>
      <button id="loginButton" style="border-color: rgba(0,0,100,0.3);">Login</button>
    </div>
    <span> Important number: </span>
    <input id="inputNum" placeholder="Not Set...">
    <span> Important String: </span>
    <input id="inputStr" placeholder="Not Set...">
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('landing-tag', '#landing') )=>{

  c.onLoaded = (r, data)=>{
    console.log(data)
    r.getElementById('title').innerHTML = data.landingPageTitle
  }

  c.addEvent('click', 'infoButton', (r, data)=>{
    r.getElementById('inputStr').value = data.string
    r.getElementById('inputNum').value = data.number
  })

  c.addEvent('click', 'dataButton', (r)=>{
    r.getElementById('dataShell').innerHTML = 'LAND!)10@(29#*38$&47%^)'
  })

  c.addEvent('click', 'loginButton', (r)=>{
    const t = r.getElementById('loginButton').innerHTML
    r.getElementById('loginButton').innerHTML = (t === 'Login' ? 'Login!' : 'Login')
    // this.getElementsByTagName('*').loginButton.innerHTML = '!'
  })

  c.newElm()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
