<template id="landing">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
  .landing-container {
    margin-top: 50px;
    text-align: center;
    color: rgba(0,0,0,0.6);
  }
  #title {
    font-size: 50px;
  }
  button {
    width: 150px;
    height: 100px;
    font-family: sans;
    background-color: rgba(50,0,0,0.05);
    font-size: 30px;
    border-style: solid;
    cursor: pointer;
    margin: 20px;
    margin-top: 50px;
  }
  button:hover {
    background-color: rgba(50,0,0,0.1);
  }
  span {
    font-size: 20px;
  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div class="landing-container">
    <div id='title'> --- Static Title </Div>
    <div>
      <button id="page2Button" style="border-color: rgba(100,0,0,0.3);"> Page 2 </button>
      <button id="dataButton" style="border-color: rgba(0,100,0,0.3);"> Data </button>
      <button id="loginButton" style="border-color: rgba(0,0,100,0.3);">Login</button>
    </div>
    <span> User: </span>
    <input id="user" placeholder="Not Set...">
    <span> Id# </span>
    <input id="idNum" placeholder="Not Set...">
  </div>
  <id-card-tag serve="data.important1"></id-card-tag>
  <id-card-tag serve="data.important2"></id-card-tag>
  <id-card-tag serve="data.important3"></id-card-tag>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('landing-tag', '#landing') )=>{

  c.onLoad = ()=>{
   c.root.getElementById('title').innerHTML = c.data.landingPageTitle
   if (c.data.user) {
     c.root.getElementById('user').value = c.data.user
     c.root.getElementById('idNum').value = c.data.id
   }
  }

  c.addEvent('click', 'page2Button', ()=>{
    data.landingPageTitle = 'Page 2 to Come'
  }, true)

  c.addEvent('click', 'dataButton', ()=>{
    data.landingPageTitle = 'Data Page to Come'
  }, true)

  c.addEvent('click', 'loginButton', ()=>{
    data.landingPageTitle = 'Login Page'
    data.user = 'lippy66'
    data.id = '3ofjaksdf'
  }, true)

  c.newElm()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
