<template id="navbar">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
.navbar {
  width: 100%;
}
#title {
  cursor: pointer;
  font-size: 30px;
  float: left;
}
.nav {
  float: right;
  color: rgba(0,0,0,0.25);
}
.nav-button {
  cursor: pointer;
}
.nav-button:hover, #title:hover {
  color: rgba(50,0,0,0.25);
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
<table style='width: 100%;'>
  <tr>
    <th id='title' class="title gray1"> HTML components Demo </th>
    <th>
      <div class="nav">
        <span id='page2Button' class="nav-button gray1"> Page 2 </span> &nbsp; :: &nbsp;
        <span id='dataButton' class="nav-button gray1"> Data </span> &nbsp; :: &nbsp;
        <span id='loginButton' class="nav-button gray1"> Login </span>
      </div>
    </th>
  </tr>
</table>
<hr style="margin-top: 0px;">
<div id="endText">
</div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

let component = document.currentScript.ownerDocument.querySelector('#navbar').content
component.getElementById('endText').innerHTML =
  '<em style="float: left; font-size: 14px; "> * Static script edited </em>';

((c = new Component('navbar-tag', '#navbar'))=>{

  c.addEvent('click', 'page2Button', infoClick = (more)=>{
    if (!more) more = 'Page 2'
    c.root.getElementById('title').innerHTML = 'HTML ('+more+' to Come)' + c.data
    data.landingPageTitle = more +" <span>(nav"+c.data+")</span>"
  }, true)

  c.addEvent('click', 'dataButton', ()=>{
    data.landingPageTitle = "NEW Landing Page"
    infoClick('Data Page')
  }, true)

  c.addEvent('click', 'loginButton', ()=>{
    data.landingPageTitle = "NEW Landing Page"
    data.user = 'LodgeSkins'
    data.id = 'fdg856csd3'
    infoClick('Login Page')
  }, true)

  c.newElm()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
