<template id="t">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
  #title {
    background-color: cornflowerblue;
  }
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <link rel="stylesheet" href="main.css">

  <span id="title"> --- Static </span>  -
  <span> string: </span>
  <input id="inputStr" placeholder="Not Set..."/>
  <span> number: </span>
  <input id="inputNum" placeholder="Not Set..."/>
  <button id="buttonX" class="whatever"> + </button>
  <button id="buttonXX" class="whatever"> + </button>

  <br>
</content>
</template>

<script>

  var proto = Object.create(HTMLElement.prototype)
  var importDoc = document.currentScript.ownerDocument
  var template = importDoc.querySelector('#t')

  proto.attributeChangedCallback = function() {
    const root = this.createShadowRoot()
    const datax = JSON.parse(this.getAttribute('serve'))
    template.content.getElementById('title').innerHTML = datax.title
    template.content.getElementById('inputStr').value = datax.name
    template.content.getElementById('inputNum').value = datax.num

    const clone = document.importNode(template.content, true)

    var button = clone.getElementById('buttonX')
    var x = this.getAttribute('serve')
    var data = ()=>this.getAttribute('serve')

    button.addEventListener('click', function() {
      console.log('Data:', data())
    })

    var button2 = clone.getElementById('buttonXX')
    button2.addEventListener('click', function() {
      console.log('Data2:', data())
    })

    root.appendChild(clone)
  }


  document.registerElement('self-built-tag', {prototype: proto} )

  // (function() {
  //   console.log(importDoc.querySelector('#t'))
  //   // var proto2 = Object.create(HTMLElement.prototype)
  //   proto.createdCallback = function() {
  //     // this.innerHTML += '</br> Hello, <b>' + (this.getAttribute('name') || '?') + '</br>'
  //     // var template = importDoc.querySelector('#t')
  //     // var clone = document.importNode(template.content, true)
  //     // var root = this.createShadowRoot()
  //     // root.appendChild(clone)
  //     //
  //     // let testy = template.content.getElementById('testy')
  //     // testy.innerHTML = this.getAttribute('name')
  //     // console.log(this.getAttribute('name'), testy)
  //
  //   }
  //   document.registerElement('important-tag', {prototype: proto})
  // })()
</script>
