body {
  text-align: center;
  font-family: courier;
  -webkit-text-size-adjust: 100%;
  background-color: #ddd;
}

.navbar-brand{
  font-size: 30px;
  margin-top: 0;
  /*-webkit-text-size-adjust: 75%;*/
}

.navbar-default{
  font-size: 16px;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  border-radius: 0;
  /*-webkit-text-size-adjust: 75%;*/
}

#title, #galBtn, #liveBtn, #titleLive{
  color: #333;
}

#titleLive{
  font-size: 16px;
  margin-left: -18px;
  color: firebrick;
  display: none;
}

#liveBtn{
  background-color: rgba(255,255,255,0.1);
}

#galBtn{
  /*background-color: rgba(255,255,255,0.2);*/
  margin-right: 15px;
}

/*#font-color{
  font-size: 20px;
  margin-top: 10px;
  height: 50px;
}*/

.navbar-fixed-top{
  position: absolute;
  background-color: cornflowerblue;
  border-radius: 5px;
  margin: -1px;
}

.navbar-default .navbar-toggle {
  background-color: #ccc;
  border: none;
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
}

.frame1 {
  font-size: 0;
  text-align: center;
  /*margin: 0;*/
  margin-top: -10px;
  -webkit-text-size-adjust: 72%;
}

.ayte { display: inline-block; background-color: #ddd;
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
  font-size: 6px;
  width: 8em;
  height: 8em;
  margin: 0.4em;
  border-radius: 1.5em;
}

#paletteFrame {
  width: 33em;
  height: 8.625em;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 1.5em;
  padding: 0.5em;
  padding-left: 1.4em;
  background-color: cornflowerblue;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
  -webkit-text-size-adjust: 66%;
}

#swatchContainer{
  font-size: 0;
  float: left;
}

.swatch {
  display: inline-block;
  box-shadow: inset 0px 3px 2px 0px rgba(0,0,0,0.3);
  font-size: 4.5px;
  width: 12em;
  height: 8em;
}

#swt6,#swt7,#swt8{box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);}
#swt11,#swt12,#swt13{box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.3);}
#swt5 {box-shadow: inset 3px 0px 2px 0px rgba(0,0,0,0.3);}
#swt9 {box-shadow: inset -3px 0px 2px 0px rgba(0,0,0,0.3);}
#swt0 { border-top-left-radius: 2em; box-shadow: inset 3px 3px 2px 0px rgba(0,0,0,0.3);}
#swt4 { border-top-right-radius: 2em; box-shadow: inset -3px 3px 2px 0px rgba(0,0,0,0.3);}
#swt10 { border-bottom-left-radius: 2em; box-shadow: inset 3px -3px 2px 0px rgba(0,0,0,0.3);}
#swt14 { border-bottom-right-radius: 2em; box-shadow: inset -3px -3px 2px 0px rgba(0,0,0,0.3);}

.button1 {   display: inline-block;
  font-size: 26px;
  color: #111;
  background-color: rgba(15,15,15,0.2);
  width: 5em;
  height: 1.5em;
  margin: 0.3em;
  border-radius: 0.2em;
  transition: background-color .25s ease-in-out;
}

.button1:hover { background-color: rgba(15,15,15,0.4);
  transition: background-color .25s ease-in-out;
}

#fillBtn {
  color: black;
  background-color: rgba(0,0,0,0.1);
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3),
    -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3);
  transition: background-color .25s ease-in-out;
}

#fill:hover {
  background-color: rgba(0,0,0,0);
  transition: background-color .25s ease-in-out;
}

.fiftyPM {
  -webkit-text-size-adjust: 50%;
}

#galName{
  display: none;
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 20px;
}

#gal1Frame{
  display: none;
}

.ayteby8 {
  display: inline-block;
  background-color: #ddd;
  box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
  font-size: 6px;
  width: 11em;
  height: 11em;
  margin: 0.5em;
  padding-top: 0.58em;
  padding-left: 0.1em;
  border-radius: 0.5em;
}

@media screen and (min-width: 768px) {
  #font-color{
    font-size: 15px;
    margin: 0;
    height: 50px;
  }
}
