body {
  margin: 8px;
}
.display-canvas {
  background: #FDB;
  cursor: move;
  border-radius: 8px;
  margin: 8px;
}
.display-canvas.dark {
  background: #4e342e;
}

button {
  border: 2px solid black;
}