body {
  margin: 0;
}

/************************************** Main Tag **************************************/

#cosmos{
  box-shadow: 0 0 3vw rgba(0,0,0,0.5) inset;
  background: url(resources/landerIcon.jpg) no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: relative;
  width: 100vw;
  height: 100vw;
  position: absolute; top: 0px; left: 0px;
  padding: 0;
}
#universe {
  display: block;
}
.ui.menu:last-child {
  margin-bottom: 0px !important;
}
.ui.massive.menu {
  opacity: 0.7;
  background-color: burlywood;
  width: 100% !important;
  margin-bottom: 0px !important;
}
.drop-down{
  height: 50px !important;
}
#backStoryIcon {
  padding: 0px !important;
  padding-left: 20px !important;
  margin-left: 20px !important;
  padding-right: 20px !important;
}
#globeIcon {
  margin-left: 10px !important;
  padding-right: 0px !important;
  padding-top: 0px;
  padding-bottom: 12px;
}
#addFighterIcon{
  margin: -10px !important;
  height: 50px !important;
}
#sparIcon{
  margin: -10px !important;
}
.dropdown.icon {
  margin-left: 5px !important;
}
.hidden {
  display: none;
}

/************************************** SignIn/Up Modal Tag **************************************/

.header {
  padding: 6px !important;
}
.custom-inverted-input {
  width: 400px !important;
  background: rgba(197, 83, 83, 0.18) !important;
  color: white !important;
}
.create-email-details {
  background: rgba(101, 156, 239, 0.18) !important;
}
.create-user-details {
  background: rgba(218, 165, 32, 0.18) !important;
}
.ui.input.focus input, .ui.input input:focus {
  border-color: rgba(218, 165, 32, 0.5) !important;
}
.custom-button {
  color: white !important;
  font-weight: normal !important;
  background: none !important;
}
.custom-button:hover {
  background: rgba(255,255,255,0.1) !important;
}
.x-button {
  padding-right: 150px !important;
}
.x-button:hover {
  background: none !important;
  color: firebrick !important;
  padding-right: 150px !important;
}
.custom-button-2 {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-right: -12px !important;
  margin-left: 5px !important;
}
.custom-button-2:hover {
  background-color: rgba(0,0,0,0) !important;
  color: rgba(255,255,255,0.5) !important;
}
