* {
  font-family: Avenir;
  color: #222222;
  font-weight: 200;
}
body {
  text-align: center;
  background: url('../assets/bg_light_grain.png');
  margin-top: 0px;
}
.icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
}

/* ⚙️ Top Navigation Bar ⚙️ */
#topNavBar {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  height: 40px;
}
#topNavBar .title {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  max-width: 80%;
}
#topNavBar .right {
  margin-left: auto;
}
#topRightNavBar_menu {
  display: flex;
  align-items: center;
}

/* 📚 Matter Container 📚 */
.centered-column {
  width: 600px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: left;
}
#physics_2d_container { 
  position: relative;
}
.svg-layer-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
