* {
  font-family: Avenir;
  color: #222222;
  font-weight: 200;
}
body {
  text-align: center;
  background: url('images/bg_light_grain.png');
}
#topNavBar {
  text-align: right;
}
.icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
}