<template id="t">
  <!-- <content> -->
    <span id="testy"> --- Static </span>
    <br>
    <span> Important String: </span>
    <input id="inputString" placeholder="Not Set..."/>
    <span> Important number: </span>
    <input id="inputNumber" placeholder="Not Set..."/>
    <button id='button'> + </button>
    <br>
  <!-- </content> -->
</template>

<script>
  var proto = Object.create(HTMLElement.prototype)
  var importDoc = document.currentScript.ownerDocument
  var template = importDoc.querySelector('#t')
  var testy = template.content.getElementById('testy')
  var testy = template.content.getElementById('testy')

  proto.createdCallback = function() {
    var root = this.createShadowRoot()
    testy.innerHTML = this.getAttribute('serve')
    // add button
    var clone = document.importNode(template.content, true)
    root.appendChild(clone)
  }

  document.registerElement('important-tag', {prototype: proto} )

  // (function() {
  //   console.log(importDoc.querySelector('#t'))
  //   // var proto2 = Object.create(HTMLElement.prototype)
  //   proto.createdCallback = function() {
  //     // this.innerHTML += '</br> Hello, <b>' + (this.getAttribute('name') || '?') + '</br>'
  //     // var template = importDoc.querySelector('#t')
  //     // var clone = document.importNode(template.content, true)
  //     // var root = this.createShadowRoot()
  //     // root.appendChild(clone)
  //     //
  //     // let testy = template.content.getElementById('testy')
  //     // testy.innerHTML = this.getAttribute('name')
  //     // console.log(this.getAttribute('name'), testy)
  //
  //   }
  //   document.registerElement('important-tag', {prototype: proto})
  // })()
</script>
