<template id="landing">
<style>
.landing-container {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  color: rgba(0,0,0,0.6);
}
button {
  width: 150px;
  height: 100px;
  font-family: sans;
  background-color: rgba(50,0,0,0.05);
  font-size: 30px;
  border-style: solid;
  cursor: pointer;
  margin: 20px;
  margin-top: 50px;
}
button:hover {
  background-color: rgba(50,0,0,0.1);
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div class="landing-container">
    <div id='dataShell'> Landing Page </Div>
    <div>
      <button id="infoButton" style="border-color: rgba(100,0,0,0.3);"> Info </button>
      <button id="dataButton" style="border-color: rgba(0,100,0,0.3);"> Data </button>
      <button id="loginButton" style="border-color: rgba(0,0,100,0.3);"> Login </button>
    </div>
    <span> Important number: </span>
    <input id="inputNumber" placeholder="Not Set...">
    <span> Important String: </span>
    <input id="inputString" placeholder="Not Set...">
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new componentJS )=>{

  let infoClick = ()=>{
    const { string, number } = c.getData('navbar-tag')
    inputString.value = string
    inputNumber.value = number
  }

  let dataClick = ()=>{
    dataShell.innerHTML = 'LAND!)10@(29#*38$&47%^)'
  }

  let loginClick = function () {
    this.getElementsByTagName('*').loginButton.innerHTML = '!'
    // console.log('landing login click', x)
    // console.dir(x)
    // // console.log('---', x.getElementById('loginButton'))
    // // let z = x.getElementById('loginButton')
    // // console.log('-e-', z)
    // // z.innerHTML = '!'
    //
    // x.innerHTML = '!!'
    // console.log(x.getElementById('loginButton'))
    //
    //
    // // document.getElementById(c.id+'loginButton').innerHTML = '!'
    // loginButton.innerHTML = '!'
    //console.log(x.getElementsByTagName('*'))


    //c.localID.inputButton.innerHTML = '!'

  }

  c.addEvent('click', 'infoButton', infoClick)
  c.addEvent('click', 'dataButton', dataClick)
  c.addEvent('click', 'loginButton', loginClick)

  c.newElm('landing-tag', '#landing')
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
