<template id="landing">
<style>
  ::content .landing-container {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: rgba(0,0,0,0.6);
  }
  ::content button {
    width: 150px;
    height: 100px;
    font-family: sans;
    background-color: rgba(50,0,0,0.05);
    font-size: 30px;
    border-style: solid;
    cursor: pointer;
    margin: 20px;
    margin-top: 50px;
  }
  ::content button:hover {
    background-color: rgba(50,0,0,0.1);
  }

</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div class="landing-container">
    <div id='dataShell'> Landing Page </Div>
    <div>
      <button id="infoButton" style="border-color: rgba(100,0,0,0.3);"> Info </button>
      <button id="dataButton" style="border-color: rgba(0,100,0,0.3);"> Data </button>
      <button id="loginButton" style="border-color: rgba(0,0,100,0.3);"> Login </button>
    </div>
    <span> Important number: </span>
    <input id="inputNum" placeholder="Not Set...">
    <span> Important String: </span>
    <input id="inputStr" placeholder="Not Set...">
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new componentJS )=>{

  c.addEvent('click', 'infoButton', ()=>{
    const { string, number } = c.getData('navbar-tag')
    inputStr.value = string
    inputNum.value = number
  })

  c.addEvent('click', 'dataButton', ()=>{
    dataShell.innerHTML = 'LAND!)10@(29#*38$&47%^)'
  })

  c.addEvent('click', 'loginButton', loginClick = function () {
    this.getElementsByTagName('*').loginButton.innerHTML = '!'
  })

  c.newElm('landing-tag', '#landing')
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
