<template id="landing-id">
<style>
.landing-container {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  color: rgba(0,0,0,0.6);
}
button {
  width: 150px;
  height: 100px;
  font-family: sans;
  background-color: rgba(50,0,0,0.05);
  font-size: 30px;
  border-style: solid;
  cursor: pointer;
  margin: 20px;
  margin-top: 50px;
}
button:hover {
  background-color: rgba(50,0,0,0.1);
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div class="landing-container">
    <div id='dataShell'> Landing Page </Div>
    <div>
      <button id="infoButton" style="border-color: rgba(100,0,0,0.3);"> Info </button>
      <button id="dataButton" style="border-color: rgba(0,100,0,0.3);"> Data </button>
      <button id="loginButton" style="border-color: rgba(0,0,100,0.3);"> Login </button>
    </div>
    <span> Important number: </span>
    <input id="inputNumber" placeholder="Not Set...">
    <span> Important String: </span>
    <input id="inputString" placeholder="Not Set...">
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(()=>{ let c = new componentJS

  infoClick = function() {
    const data = JSON.parse(this.getAttribute('serve'))
    inputString.value = data.string
    inputNumber.value = data.number
  }

  dataClick = function () {
    dataShell.innerHTML = '!)10@(29#*38$&47%^)'
  }

  loginClick = function () {
    loginButton.innerHTML = '!'
  }

  c.addEvent('click', 'infoButton', infoClick)
  c.addEvent('click', 'dataButton', dataClick)
  c.addEvent('click', 'loginButton', loginClick)


  c.newElm('landing-tag', '#landing-id')
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
