<template id="navbar">
<style>
.navbar {
  width: 100%;
}
.title {
  cursor: pointer;
  font-size: 30px;
  float: left;
}
.nav {
  float: right;
  color: rgba(0,0,0,0.25);
}
.nav-button {
  cursor: pointer;
}
.nav-button:hover, .title:hover {
  color: rgba(50,0,0,0.25);
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
<table if='list' style='width: 100%;'>
  <tr>
    <th id='title' class="title gray1"> ComponentsJS </th>
    <th>
      <div class="nav">
        <span id='infoButton' class="nav-button gray1"> Info </span> &nbsp; :: &nbsp;
        <span id='dataButton' class="nav-button gray1"> Data </span> &nbsp; :: &nbsp;
        <span id='loginButton' class="nav-button gray1"> Login </span>
      </div>
    </th>
  </tr>
</table>
<hr style="margin-top: 0px;">
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new componentJS )=>{

  let infoClick = ()=>{
    const { string, number } = c.getData('navbar-tag')
    inputString.value = string
    inputNumber.value = number
  }

  // let dataClick = ()=>{
  //   console.log('daaaataclick')
  // }

  let loginClick = function () {
    this.getElementsByTagName('*').loginButton.innerHTML = '!'

  //  document.getElementById(c.id+'loginButton').innerHTML = '!'
    // document.getElementById('#landing'+'loginButton').innerHTML = '!'
    // document.getElementById(c.id+'loginButton').innerHTML = '!'
    // // ^^^ you can always do it this way, but for all.... vvv
    // // c.updateAll('innerHTML', 'loginButton')
  }

  c.addEvent('click', 'infoButton', infoClick)
  c.addEvent('click', 'dataButton', dataClick = ()=>{
    title.innerHTML = 'COMP!)10@(29#*38$&47%^)'
  })
  c.addEvent('click', 'loginButton', loginClick)

  c.newElm('navbar-tag', '#navbar')
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
