html {
  font-family: Tahoma;
  min-height:100%;
  position:relative;
  animation: fadein 1.5s;
}
body{
  height:100%;
  margin: 0px;
}
#background-image {
  position: absolute;
  z-index: -1000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow:hidden;
  background-image: url("gfx/tx2.png");
  animation: fadein2 4s;
}
@keyframes fadein {
  0% { opacity:0; }
  100& { opacity:1; }
}
@keyframes fadein2 {
  20% { opacity:0; }
  100& { opacity:1; }
}
.sunk-font {
  margin: 3px 0px 5px 9px;
  font-weight: 900;
  background-color: #565656;
  color: transparent;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
