* {
  font-family: sans-serif;
  font-size: 20px;
}

html {
  background-color: #333;
}

body {
  margin-top: 0px;
}

canvas {
  display: block;
  background-color: #eee;
}

.btn {
  cursor: pointer;
  background-color: #333;
  user-select: none;
}
