body {
  background: url("light_grain.png")
}
.bobAnimate-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 375px;
}
.inline {
  display: inline-block;
}
#bobAnimate {
  margin-left: 5px;
  transition-timing-function: ease-in-out;
  transition: margin-left 2s;
}
