* {
  font-family: Avenir;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: cornflowerblue;
}
#topNav {
  text-align: center;
}
.content {
  flex: 1;
}
#imgContainer { 
  position: relative;
  font-size: 0px;
  margin: auto;
}
@media (orientation:portrait) {
  #imgContainer {
    width: 80vw;
  }
}
@media (orientation:landscape) {
  #imgContainer {
    width: 80vh;
  }
}
#imgContainer > img {
  position: absolute;
  width: 100%;

}
.shadow {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  border-radius: 2px;
}
footer {
  text-align: center;
  margin-top: 20px; 
  background-color: rgba(0,0,0,0.1);
}