html {
  background-color: black;
}
body {
  margin: 0;
  /* opacity: 0; 🔥 */
  padding-top: 30px;
  height: 100vh;
  background: url('images/beige_paper_firebrick.png');
  transition: opacity 2s;
}
.shadow {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  border-radius: 2px;
}
#imgContainer { 
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}
@media (orientation:portrait) {
  #imgContainer {
    width: 80vw;
  }
}
@media (orientation:landscape) {
  #imgContainer {
    width: 80vh;
  }
}
.hannaImg, #tracker {
  position: absolute;
  width: 100%;
}
#info {
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  letter-spacing: 6.5px;  
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}
#info:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

/* 🐝 Bees 🐝 */
#leftTopBee {
  position: absolute;
  /* background-color: rgba(0,0,0,0.2); */
}

#leftTopBee > img {
  width: 100%;
  position: relative;
  animation: bounce1 2s infinite;
  /* background-color: red; */
  /* transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); */
  transition-timing-function: ease-in;
  cursor: grab;
}

#leftTopBeeImg:hover {
  animation: bounce2 0.2s infinite;
  /* background-color: rgba(0,0,255,0.2); */
}



@keyframes bounce1 {
  0%   { top: 0px;}
  50%  { top: 25px;}
  100%  { top: 0px;}
}

@keyframes bounce2 {
  0%   { top: 0px;}
  50%  { top: 10px;}
  100%  { top: 0px;}
}
