#showcase-posts-container {
  width: 600px;
  margin: auto;
}
.showcase-post {
  width: 100%;
  height: 183px;
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
  margin: 5px;
  margin-bottom: 30px;
}
.showcase-post > hr {
  margin: 5px;
}
.showcase-grid-append-box {
  float: left;
}
.showcase-canvas-append-box {
  width: 178px;
  height: 148px;
  font-size: 0px;
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  padding-top: 5px;
}
.showcase-canvas {
  margin: 1px;
  opacity: 1;
}
.showcase-canvas:hover {
  opacity: 0.5;
}
.showcase-canvas-empty {
  width: 46px;
  height: 46px;
  margin: 0px;
  border: solid 1px rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
}
.showcase-canvas-mask {
  position: absolute;
  display: inline-block;
  margin: 1px;
  min-width: 46px;
  height: 46px;
  margin-left: -47px;
  opacity: 0.9;
  background-color: #999;
}
.showcase-canvas-mask:hover {
  opacity: 0.1;
}
.showcase-grid-box {
  width: 160px;
  font-size: 14px;
  margin: auto;
}
.showcase-grid-toggle {
  font-size: 14px;
  padding: 4px;
  width: 34px;
  background-color: rgba(0,0,150,0.2);
  margin: 2px 1px 0px 1px;
  display: inline-block;
  cursor: pointer;
}
.showcase-grid-toggle:hover {
  box-shadow: 0px 0px 8px 0px inset rgba(0,0,0,0.5);
  background-color: rgba(155,155,255,0.5);
}
.showcase-grid-toggle-active {
  box-shadow: 0px 0px 8px 0px inset rgba(0,0,0,0.5);
  background-color: rgba(155,155,255,0.5);
}
.showcase-canvas-large {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  padding-left: 10px;
}
.showcase-userbox, .showcase-btn, .showcase-appends {
  font-size: 18px;
  display: inline-block;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.showcase-userbox {
  margin-bottom: -10px;
}
.showcase-star {
  font-size: 15px;
  margin-bottom: 3px;
  border-radius: 5px;
  float: left;
  box-shadow: 0px 0px 2px 0px inset rgba(0,0,0,0.5);
  background-color: rgba(255,55,55,0.2);
}
.showcase-append-note {
  font-size: 14px;
}
.showcase-appends {
  box-shadow: 0px 0px 2px 0px inset rgba(0,0,0,0.5);
  background-color: rgba(155,155,255,0.5);
  border-radius: 4px;
  font-size: 15px;
  height: 32px;
}
#mouseTrack {
  font-size: 14px;
  position: absolute;
  top: 100px;
  left: 100px;
}
