
body, html{
  background-color: rgb(210,210,210);
  margin: 5%; margin-top: 1%;
  font-size: 0;
}

body {
  background-color: rgb(240,240,240);
  border-radius: 1%;
  margin: auto;
  padding: 2%;
  max-width: 1000px; min-width: 640px;
  text-align: center;
}

.eight {   display: inline-block;
  width: 50px; height: 50px;
  border-radius: 10%;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  transition: width .15s ease-in-out, height .15s ease-in-out, margin .15s ease-in-out;
}

.eight:hover {
  width: 55px; height: 55px;
  margin: 2.5px;
  transition: width .15s ease-in-out, height .15s ease-in-out, margin .15s ease-in-out;
}

.sixteen { display: inline-block;
  width: 30px; height: 30px;
  border-radius: 7%;
  margin: 3px;
}

.thirtyTwo { display: inline-block;
  width: 15px; height: 15px;
  border-radius: 3.5%;
  margin: 1.5px;
}

.button1 {   display: inline-block;
  background-color: grey;
  width: 15px; height: 15px;
  border-radius: 3.5%;
  margin: 6px; margin-top: 20px;
  transition: width .15s ease-in-out, height .15s ease-in-out, margin .15s ease-in-out;
}

.button1:hover {
  width: 18px; height: 18px;
  margin: 4.5px;
  transition: width .15s ease-in-out, height .15s ease-in-out, margin .15s ease-in-out;
}
