<!DOCTYPE html><html><head><meta charset="utf-8"><title>ComponentsJS</title>
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="component.js"></script>
  <link rel="import" href="html-components/navbar.html">
  <!-- <link rel="import" href="html-components/landing.html"> -->
</head>
<body>

<!-- <navbar-tag serve="data"></navbar-tag> -->
<!-- <navbar-tag serve="data"></navbar-tag> -->
<!-- <landing-tag serve="data"></landing-tag> -->

</body>
<script>

// (()=>{
//
//   var data = {
//     string: "Sup, Ya'll",
//     number: 49,
//     navBarString: "Clicked Navbar 'Info' ",
//     navBarNumber: 1000000
//   }
//
//   var [ x, page ] = [ { 'data': data }, document.querySelector('landing-tag') ]
//   page.setAttribute('serve', JSON.stringify(x[page.getAttribute('serve')]))
//
//   var [ x, page ] = [ { 'data': data }, document.querySelector('navbar-tag') ]
//   page.setAttribute('serve', JSON.stringify(x[page.getAttribute('serve')]))
//
// })()

var link = document.querySelector('link[rel="import"]');
var content = link.import;
var el = content.querySelector('#navBar-table');

document.body.appendChild(el.cloneNode(true));
document.body.appendChild(el.cloneNode(true));


console.log(link)
// var templates = document.getElementsByTagName('content')
// console.log(templates)

</script>
</html>

<!--  * * * * * *   TERMINAL STEPS TO PREVIEW IN BROWSER   * * * * * * * * * * *
- >>> cd    (to directory this file is located in)
- >>> http-server -c-1    (got to Local 8080 to work.
- Open browser and go to http://localhost:8080/ if this file is index.html
- IF other the main .html file isn't index.html, just add the endpoint of the file
- Like: http://localhost:8080/template.html
- ALSO, you can >>> http-server -c-1 -p 8010    (will change port to 8010. Somtimes there's  confict for some reason)
- ALSO, you may need to >>> sudo kill -9 PID    (If port has conflict (>>> top    (to find out PID))
- HELPFUL LINK: *** https://www.html5rocks.com/en/tutorials/webcomponents/imports/
-->

<!-- / / / / / / / / / / / / / / /    Notes    / / / / / / / / / / / / / / / / /

- Can we do all of the routing/updating on pages.js (Even handle html.js?)
- TEST in gh-pages looks like a CORS problem potentially(maybe gh-pages will just be a no go for it.).

-->
