<!DOCTYPE html><html><head><meta charset="utf-8"><title> Components </title>
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="component.js"></script>
  <!-- COMPONENTS -->
  <link rel="import" href="components/navbar.html">
  <link rel="import" href="components/landing.html">
  <link rel="import" href="components/important.html">
</head>
<body>

<navbar-tag serve="data.important1"></navbar-tag>
<navbar-tag serve="data.important2"></navbar-tag>
<landing-tag serve="data"></landing-tag>

<!-- <important-tag serve="data.important1"></important-tag>
<important-tag serve="data.important2"></important-tag>
<important-tag serve="data.important3"></important-tag> -->

</body>
<script>

/* WHERE I LEFT OFF . . .
NAVBAR
- data click also puts data on important number/string
Landing
- make title for all 3 buttz
- data click changes ids
USER
- change and style as idcard (NOT important)
- navbar and landing  Data click changes data around
- make a hover effec that changes the website-name to match card in order 1,2,3
PAGE2
-
IDCARD
-
IDCARD (Imput)
-
--- THEN remove double navbar.
*/

var mainData = {
  landingPageTitle: 'Landing Page',
  userName: null,
  userInt: null,
  number: 49,
  navBarString: 'Clicked <Data> on navbar" ',
  navBarNumber: 1000000,
  important1 : { title: 'Important Data 1', name: 'Eric', num: '1' },
  important2 : { title: 'Important Data 2', name: 'LaVar', num: '2' },
  important3 : { title: 'Important Data 3', name: 'Jennifer', num: '3' }
}

var update = (data, initial)=>{

  if (!data) data = mainData

  let imports = document.querySelectorAll('link[rel="import"]')
  for (const imp of imports) {
    let tagName = imp.href.split('/')[imports[0].href.split('/').length-1]
    tagName = tagName.split('.')[0] + '-tag'
    const components = document.querySelectorAll(tagName)
    for (const component of components) {
      let serve = component.getAttribute('serve')
      if (!initial) {
        serve = component.getAttribute('servedir')
        console.log(serve)
      } else {
        let servedir = document.createAttribute('servedir')
        servedir.value = serve
        component.setAttributeNode(servedir)
        console.log(servedir)
      }
      component.setAttribute('serve', JSON.stringify(getDir({ 'data': data }, serve)))
    }
  }
}

var getDir = (Obj, dir)=>{
  for (const p of dir.split(/[.\[\]]/).filter(Boolean)) Obj = Obj[p]
  return Obj
}

update(mainData, true)

</script>
</html>

<!--  * * * * * *   TERMINAL STEPS TO PREVIEW IN BROWSER   * * * * * * * * * * *
- >>> cd    (to directory this file is located in)
- >>> http-server -c-1    (got to Local 8080 to work.
- Open browser and go to http://localhost:8080/ if this file is index.html
- IF other the main .html file isn't index.html, just add the endpoint of the file
- Like: http://localhost:8080/template.html
- ALSO, you can >>> http-server -c-1 -p 8010    (will change port to 8010. Somtimes there's  confict for some reason)
- ALSO, you may need to >>> sudo kill -9 PID    (If port has conflict (>>> top    (to find out PID))
- HELPFUL LINK: *** https://www.html5rocks.com/en/tutorials/webcomponents/imports/
- HELPFUL LINK2: https://www.html5rocks.com/en/tutorials/webcomponents/customelements/
-->

<!-- / / / / / / / / / / / / / / /    Notes    / / / / / / / / / / / / / / / / /
* Next 3 *
- Fiture-out 1.) cross-component data 2.) cross-component events
- style IMPORTANT
- Merge important to be dynamic

*** TO DOs ***
- figure out what things need to be solved to just add this as components alone before we create a merged template
- how do we handle differnet page swaps.
- Do sub Imports work?
- Updating global Vars & where do what file is the host ? - Can we do all of the routing/updating on components.js (Even handle html.js?)
- Should we generate a custon local-id or change to id= to class=?
- Clean -> vars  lets  const
- Fix local Style to not need ::content on every elm.
- page build optimization look over.
- TEST in gh-pages looks like a CORS problem potentially(maybe gh-pages will just be a no go for it.).
- https://robbobfrh84.github.io/lab/Independency/components/index.html

-->
