<!DOCTYPE html><html><head><meta charset="utf-8"><title> Components </title>
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="data.js"></script>
  <script type="text/javascript" src="component.js"></script>
  <!-- COMPONENTS -->
  <link rel="import" href="components/navbar.html">
  <link rel="import" href="components/landing.html">
  <link rel="import" href="components/id-card.html">
</head>
<body>
  <navbar-tag serve="data.arr[0]"></navbar-tag>
  <page status='active'>
    <navbar-tag serve="data.arr[1]"></navbar-tag>
  </page>
  <landing-tag serve="data"></landing-tag> <br>
</body>
</html>

<!-- / / / / / / / / / / / / / / /    Notes    / / / / / / / / / / / / / / / / /

*** Next ***
- make page2.js
- put cards in page two
- create active attribute and set to landing.


- endpoints
- multi server="data.a data.b[0]"
- ... really sort of a big picture moment from here...


PAGE2
- update website name (easy)
- removed landing page edit (easy)
-
IDCARD
-
IDCARD (Imput)
-
Login Page
- complete new page (background and all)
- included lifeless LOGIN username / Password / create account button
- add previous page global var.
- included X to go back to PREVIOUS PAGE, not landing.

*** TO DOs ***
- add handle multiple serve='data.x data.another'
- how do we handle differnet page swaps.
- Updating global Vars & where do what file is the host ? - Can we do all of the routing/updating on components.js (Even handle html.js?)
- Should we generate a custon local-id or change to id= to class=?
- Clean -> vars  lets  const
- Get it working on ipad/phone
- https://robbobfrh84.github.io/lab/Independency/components/index.html

-->

<!--  * * * * * *   TERMINAL STEPS TO PREVIEW IN BROWSER   * * * * * * * * * * *
- >>> cd (to directory this file is located in)
- >>> http-server -c-1    (got to Local 8080 to work.
- Open browser and go to http://localhost:8080/ if this file is index.html
- IF other the main .html file isn't index.html, just add the endpoint of the file
- Like: http://localhost:8080/template.html
- ALSO, you can >>> http-server -c-1 -p 8010    (will change port to 8010. Somtimes there's  confict for some reason)
- ALSO, you may need to >>> sudo kill -9 PID    (If port has conflict (>>> top    (to find out PID))
- HELPFUL LINK: *** https://www.html5rocks.com/en/tutorials/webcomponents/imports/
- HELPFUL LINK2: https://www.html5rocks.com/en/tutorials/webcomponents/customelements/
-->
