#page-tourney .main-container {
  background-color: rgba(0,0,0,0.1);
  margin-top: 5px;
  height: 100%;
  padding: 5px 0px 0px 0px;
  font-size: 2vw;
} 
#page-tourney .bracket-half {
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  margin: 0px 5px 5px 5px;
  padding: 5px 0px 0px 0px;
  width: 25%;
}
#page-tourney .matchup {
  background-color: rgba(0,0,0,0.1);
  margin: 0px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  padding-right: 5px;
  transition: background-color .5s;
}
#page-tourney .matchup:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background-color .5s;
}
