#svg_container{
  padding: 5px;
  background-color: rgba(100, 149, 237, 0.65);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}
.stateSubBack {
  fill: white;
}
.state {
  cursor: pointer;
  opacity: 1;
  transition: fill 0.3s ease-out, opacity 0.3s ease-out;
}
.state:hover {
  opacity: 0.8;
  transform: opacity 0.3s ease-out;
}
.stateLabel {
  fill: white;
  font-size: 8px;
  letter-spacing: 1px;
  paint-order: stroke;
  font-weight: 500;
  stroke: #000000;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  pointer-events: none;
  user-select: none;
}
.stateCircle {
  stroke: white; 
  stroke-width: 0.5px;
}
.statePointerLine {
  stroke: black; 
  stroke-width: 1px;
  pointer-events: none;
}
.borderLines, .borderLinesBack {
  fill: white;
}
#ExteriorOutlines {
  stroke: white;
  fill: rgba(0, 0, 0, 0)
}

/* State specific modifications */
#Alaska path, #Alaska_back {
  transform: translate(-34px, 43px) scale(0.5, 0.5) rotate(20deg);
  transform-origin: top left;
}
#Hawaii path, #Hawaii_back {
  transform: translate(60px, -164px) scale(1.65, 1.65);
  transform-origin: top left; 
}

#DistrictOfColumbia text {
  font-size: 7px;
}
#Massachusetts text {
  letter-spacing: 0.5px;
}