/* - - - - - MENU - - - - - */
#history_of_rolls {
  display: flex;
  gap: 16px;
  margin: auto;
  margin-top: 8px;
  padding: 8px 0px;
  width: 400px;
  overflow-y: scroll; 
  box-sizing: border-box;
}
.history-of-rolls-dice {
  display: flex;
  width: 64px;
  min-width: 64px;
  aspect-ratio: 1 / 1;
  background-color: var(--primary);
  cursor: pointer;
}