/* - - - - - MAIN - - - - - */
:root {
  --primary:    #4e342e; /* deep brown */
  --secondary:  #6d4c41; /* softened earth tone */
  --accent:     #bf360c; /* terracotta red */
  --background: #3e2723; /* dark, grounding hue */
  --foreground: #f5f5f5; /* light text contrasting darks */
  --muted:      #8d6e63; /* subtle earthy accent */
  --font-color: #AAAAAA;
  --font-family: sans-serif;
  --font-size: 16px; 
  --border-radius: 4px;
}
* {
  color: var(--font-color);
  font-family: var(--font-family);
  border-radius: var(--border-radius);
}
html, body {
  overflow: hidden;
  height: 100%;
  touch-action: none; /* Prevent all gestures on mobile(zooming, scrolling, etc..) */
}
html {
  background-color: var(--background);
}
body {
  margin: auto;
  max-width: 768px; 
}