/* Mobile */
@media (max-width: 600px), (pointer: coarse) {

  html, body {
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0px;
  }

  .grid-container {
    width: 100%;
    box-sizing: border-box;
  }

}
