body, html{
  background-color: rgb(195,195,195);
  margin: auto;
  max-width: 800px;
}

#mainSVG {
  background-color: rgba(220,220,220,1);
  box-shadow: 0 0 3vw rgb(100,149,237,0) inset;
}

#map {
  /*margin-top: -50%;
  position: relative;*/
}
