<template id="footer">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main {
  /*font-family: times;*/
  display: block;
  font-size: 11px;
  color: rgb(100,100,100);
  width: 100%;
  height: 58px;
  text-align: center;
}
#content {
  background-color: rgba(0,0,0,0.05);
  padding: 3px;
  height: 55px;
}
.links {
  cursor: pointer;
  font-size: 14px;
}
.line {
  width: 200px;
  opacity: 0.5;
  margin-top: 3px;
}
.nav-divide, .nav-divide2 {
  box-shadow: inset 1px 5px 9px -6px rgba(0,0,0,1);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  display: block;
  margin-top: 8px;
  height: 6px;
  width: 100%;
}
.nav-divide2 {
  box-shadow: inset 1px -5px 9px -6px rgba(0,0,0,1);
  margin-top: 0px;
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
  <div id='main'>
    <span id='navLine' class="nav-divide2"></span>
    <div id='content'>
      &copy; Bob Main <hr class='line'>
      <div id='links'> :: &nbsp;
        <span class='links' onclick='_PAGE_SET("home")'> Home </span> &nbsp; :: &nbsp;
        <span class='links' onclick='_PAGE_SET("components")'> Components </span> &nbsp; :: &nbsp;
        <span class='links' onclick='_PAGE_SET("plugins")'> Plugins </span> &nbsp; :: &nbsp;
        <span class='links' onclick='_PAGE_SET("docs")'> Docs </span> &nbsp; :: &nbsp;
        <span class='links' onclick='_PAGE_SET("contact")'> Contact </span> &nbsp; :: &nbsp;
      </div>
      <span id='navLine' class="nav-divide"></span>
    </div>
  </div>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>
(( c = new Component('footer-tag') )=>{
  c.resetFooter = ()=>{
    let footer = c.I('main')
    footer.setAttribute('style', 'margin-top: 0px;')
    const diff = window.innerHeight - footer.offsetTop
    if (diff > 25 && footer.offsetTop !== 0) {
      footer.setAttribute('style', 'margin-top: '+(diff-28)+'px;')
    }
  }
  c._ON_SET = (attr)=>{ c.resetFooter() }
  window.onload = function(){ c.resetFooter() }
  window.onresize = function(){ c.resetFooter() }
  c._NEW_ELM()
})()
</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
