<template id="navbar">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main {
  margin: 5px 0px 7px 7px;
  font-weight: 900;
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
#title {
  cursor: pointer;
  font-size: 30px;
}
.nav-divide {
  box-shadow: inset 1px 5px 9px -6px rgba(0,0,0,1);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  display: block;
  height: 6px;
  width: 100%;
}
.right-box {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.but {
  cursor: pointer;
  font-size: 20px;
}
.but:hover, #title:hover {
  color: rgba(255,255,255, 0.5);
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
     <div id='main'>
       <span id='title' onclick="_PAGE_SET('home')"> LoneJS </span>
       <span class='right-box'>
         <span class='but'> Components </span> :
         <span class='but'> Plugins </span> :
         <span class='but'> Docs </span>
       </span>
     </div>
     <span class="nav-divide"></span>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('navbar-tag') )=>{
  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
