<template id="navbar2-open">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>
#main {
  margin: 5px;
}
.font {
  font-size: 18px;
  font-weight: 900;
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
#home {
  margin-left: 10px;
  font-size: 30px;
}
.bit-hamburger {
  cursor: pointer;
  float: right;
  width: 22px;
  height: 18px;
  padding: 3px 11px 10px 6px;
  transition: width .15s, height .15s, padding .15s, transform .15s;
}
.bit-hamburger:hover {
  width: 26px;
  height: 26px;
  padding: 1px 9px 6px 4px;
  transition: width .2s, height .2s, padding .2s, transform .2s;
}
.menu-icon-strip {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
  width: 100%;
  height: 23%;
  border-radius: 10px;
  margin: 2px;
}
.nav-divide {
  box-shadow: inset 1px 5px 9px -6px rgba(0,0,0,1);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  display: block;
  height: 6px;
  width: 100%;
}
.nav-buttons {
  float: right;
  padding-top: 5px;
}
.nav {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
.dash {
  float: right;
  padding-top: 1px;
}
.pages {
  cursor: pointer;
}
.pages:hover {
  color: rgba(255,255,255, 0.5);
}
</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content>
   <div id='main'>
     <span id='home' class='font'onclick="_PAGE_SET('home')"> LoneJS </span>
     <span class='nav-buttons font'>
       <div class='bit-hamburger'>
         <div class='menu-icon-strip'></div>
         <div class='menu-icon-strip'></div>
         <div class='menu-icon-strip'></div>
       </div>
       <div class='dash'> | </div>
       <div class='nav'>
         <span class='pages'> Components </span> :
         <span class='pages'> Plugins </span> :
         <span class='pages'> Docs </span>
       </div>
     </span>
   </div>
   <span class="nav-divide"></span>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script>

(( c = new Component('navbar2-open-tag') )=>{
  c._NEW_ELM()
})()

</script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
