<template id="page-holder">
<link rel="stylesheet" href="main.css">
<!-- { { { { { { { { { { { { { { { {  CSS  } } } } } } } } } } } } } } } } } -->
<style>

</style>
<!-- < < < < < < < < < < < < < < < <  html > > > > > > > > > > > > > > > > > -->
<content var="{x} c.data">
   <span><br><h2 class='sunk-font'> {x}.title </h2><br></span>
</content>
</template>
<!-- () () () () () () () () () ()  JavaScript () () () () () () () () () () -->
<script> /* - Starts New Component -> */ (( c = new Component('page-holder-tag') )=>{



c._NEW_ELM()})() /* ----------- Creates New Component -----------> */  </script>
<!--  / / / / / / / / / / / / / / /   Notes    / / / / / / / / / / / / / / / -->
